/* Created by XuY 2022/1/16 */

/* 标题 */
.header {
    padding: 10px;
    text-align: center;
    background: #d2b48c;
}

/* 标题字体加大 */
.header h1 {
    font-size: 40px;
}

/* 回到首页入口 */
.backHome {
    overflow: hidden;
    background-color: #333;
    margin-left: 45%;
    margin-right: 45%; 
    border-radius: 20px;
}
/* 回到首页入口的字体样式 */
.backHome a {
    float: center;
    display: block;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 8px 12px;
    text-decoration: none;
}
/* 鼠标移动到回到首页入口的颜色 */
.backHome a:hover {
    background-color: skyblue;
    color: black;
}

/* 设置问卷开头部分 */
.RPstyle {
    text-align: center;
}
/* 问卷头字体加大 */
.RPstyle h1 {
    font-size: 30px;
    color: navy;
}

/* 设置问题格式 */
.QuesList {
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bolder;
}
/* 设置每个问题的背景色 */
.QuesList h1 {
    background-color: Tomato;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    font-size: 30px;
}

/* 设置问题列表的格式 */
.QuesList p {
    font-size: 30px;
    font-weight: bolder;
    color: darkred;
}

/* 底部栏样式 */
.footer {
    overflow: hidden;
    background-color: #333;
    margin-bottom: 5px;
}
.footer a {
    font-size: 20px;
    color: grey;
    text-decoration: none;
}
/* 鼠标移动到调查问卷入口的颜色 */
.footer a:hover {
    color: white;
}
/* 显示当前页面时高亮 */
.footer a.active {
    color: white;
}
.footer .footer-text {
    display: inline-block;
}
.footer .footer-photo {
    display: inline-block;
    vertical-align: middle;

}
.footer .footer-photo img {
    float: right;
}

/* copyright及合作单位 */
.pageBottom .copyright {
    display: inline-block;
}
.pageBottom .photos {
    display: inline-block;
    vertical-align: middle;
    
}
.pageBottom .photos img {
    float: right;
}